<view class="home-recommended-view">
  <view class="home-recommended-view-item"  data-item="{{item}}" bindtap="goDetail" wx:for="{{list}}" wx:key='id'>
    <view class="hrvi-img">
      <image mode="widthFix" src="{{item.list_pic_url}}"></image>
    </view>
    <view class="hrvi-content">
      <view class="hrvi-content-name">{{item.name}}</view>
      <view class="hrvi-content-title">{{item.goods_brief}}</view>
      <view class="hrvi-content-price">￥{{item.retail_price}}</view>
    </view>
  </view>
</view>