<view class="addressDetail">
    <view class="addressDetail-item">
        <input type="text" disabled="{{show}}" model:value="{{name}}" placeholder="姓名"/>
    </view>
    <view class="addressDetail-item">
        <input type="text"   disabled="{{show}}" model:value='{{mobile}}' placeholder="电话号"/>
    </view>
    <view class="addressDetail-item">
        <input type="text" value="{{full_region}}" disabled="{{true}}" bindtap='handleTap' placeholder="地址"/>
    </view>
    <view class="addressDetail-item">
        <input type="text"  model:value='{{address}}'  disabled="{{show}}" placeholder="详细地址"/>
    </view>
    <view class="addressDetail-radio" >
        <view bindtap='switchActive'>
            <radio class="" value="" checked="{{is_default}}"/>
            <view>设为默认</view>
        </view>
    </view>
</view>

<view class="addressDetail-foot">
    <view class="addressDetail-foot-left" bindtap='call'>取消</view>
    <view class="addressDetail-foot-right" bindtap='save'>保存</view>
</view>

<view class="address" hidden="{{!show}}">
    <view class="addresszhan">
        <view class="addresszhan-zhan" bindtap='hide'></view>
        <view class="addressDetail-address">
            <view class="addressDetail-address-head">
                <view class="addressDetail-address-head-item {{tab_typeid == item.type ? 'item_active' :''}}" data-item='{{item}}' bindtap='tabtap' wx:for="{{tab}}">{{item.name}}</view>
                <view class="addressDetail-address-head-submit" bindtap='qdAddress'>确定</view>
            </view>
            <scroll-view class="addressDetail-address-content" scroll-y="{{true}}">
                <view class="addressDetail-address-content-item {{list_active==item.id ? 'item_active' :''}}" data-item='{{item}}' bindtap='bindtapSwitch' wx:for="{{addressList}}" wx:key="id">{{item.name}}</view>
            </scroll-view>
        </view>
    </view>
</view>
