<view class="com-goinput">
  <view class="com-goinput-view"  bindtap="goSou">
    <view class="com-goinput-view-title">
      <text>{{title}}</text>
      <view class="iconfont icon-sousuo"></view>
    </view>
  </view>
</view>