<scroll-view class="shoppingPTO">
    <view class="shoppingPTO-address">
        <com-address list='{{[PTO.checkedAddress]}}' delPD='{{false}}' bind:detail='address'></com-address>
    </view>
    <view class="shoppingPTO-yh">
        <view class="shoppingPTO-yh-left">请选择优惠券</view>
        <view class="shoppingPTO-yh-right">
            <view class="shoppingPTO-yh-right-text">{{PTO.couponList.length}}张</view>
            <view class="shoppingPTO-yh-right-icon iconfont icon-iconfontjiantouzuo"></view>
        </view>
    </view>
    <view class="shoppingPTO-hj">
        <view class="shoppingPTO-hj-item">
            <view class="shoppingPTO-hj-item-left">商品合计</view>
            <view class="shoppingPTO-hj-item-right">{{PTO.actualPrice}}</view>
        </view>
        <view class="shoppingPTO-hj-item">
            <view class="shoppingPTO-hj-item-left">运费</view>
            <view class="shoppingPTO-hj-item-right">{{PTO.freightPrice}}</view>
        </view>
        <view class="shoppingPTO-hj-item">
            <view class="shoppingPTO-hj-item-left">优惠卷</view>
            <view class="shoppingPTO-hj-item-right">{{PTO.couponPrice}}</view>
        </view>
    </view>
    <view class="shoppingPTO-list">
        <view class="shoppingPTO-list-item" wx:key='id' wx:for="{{PTO.checkedGoodsList}}">
            <view class="shoppingPTO-list-item-img">
                <image mode="widthFix" src="{{item.list_pic_url}}"></image>
            </view>
            <view class="shoppingPTO-list-item-content">
                <view class="slic-top">
                    <view class="slic-top-left">{{item.goods_name}}</view>
                    <view class="slic-top-right">×{{item.number}}</view>
                </view>
                <view class="slic-bottom">{{item.retail_price}}</view>
            </view>
        </view>
    </view>
</scroll-view>
<view class="shoppingPTO-foot">
    <view class="shoppingPTO-foot-left">
        实付{{PTO.actualPrice}}
    </view>
    <view class="shoppingPTO-foot-right" bindtap='goFK'> 
        去付款
    </view>
</view>