.brand{
  width: 100%;
  height: 100vh;
  background-color: #eeee;
}
.brand-top{
  width: 100%;
  height: auto;
}
.brand-top-item{
  width: 100%;
  background-color: white;
  padding: 0px 0px 30rpx;
}
.brand-top-item-img{
  width: 100%;
}
.brand-top-item-img>image{
  width: 100%;
}
.brand-top-item-title{
  padding: 20rpx 100rpx 0rpx;
  text-align: center;
  line-height: 40rpx;
  font-size: 30rpx;
  color: #333;
  max-height: 120rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.brand-list{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20rpx;
  width: 100%;
}
.brand-list-item{
  width: 372rpx;
  background: white;
  padding:0px 10rpx;
  margin-bottom: 4rpx;
  box-sizing: border-box;
}
.brand-list-item:nth-child(odd){
  margin-right: 2rpx;
}
.brand-list-item-img{
  width: 300rpx;
  height: 300rpx;
  margin: 0px auto;
  overflow: hidden;
}
.brand-list-item-img>image{
  width: 100%;
}
.brand-list-item-title,
.brand-list-item-price{
  width: 300rpx;
  height: 50rpx;
  font-size: 32rpx;
  color: #333;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.brand-list-item-price{
  color: red;
}

