<scroll-view class="brand" scroll-y="{{true}}">
  <view class="brand-top">
    <view class="brand-top-item">
      <view class="brand-top-item-img">
        <image mode="widthFix" src="{{brand.app_list_pic_url}}"></image>
      </view>
      <view class="brand-top-item-title">{{brand.simple_desc}}</view>
    </view>
  </view>
  <view class="brand-list">
    <com-list list='{{list}}'></com-list>
  </view>
</scroll-view> 